.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.weather-focus {
  border: 1px solid white;
  padding: 1em;
  border-radius: 1em;
}

.App-link {
  color: #61dafb;
}

.location {
	margin-bottom: 1em;
	width: 25%;
	padding: 1em;
	text-align: center;
	background: rgba(255, 255, 255, .1);
	border: 1px solid rgba(255, 255, 255, .2);
	color: white;
}
